<ion-view title="Home">
    <ion-content padding="true">
<ion-header-bar class="bar-dark">
                <h1 class="title">About us</h1>
            </ion-header-bar>
  <ion-content>
  <div class="item item-body">

    <p>
        The App is developed using IONIC Mobile App framework for APE HackDay 2015 by :

    </p>

  </div>
               <div class="list">

  <a class="item item-icon-left" href="#">
    Kavitha PM
  </a>

  <a class="item item-icon-left" href="#">
    Manish Sharma
  </a>

  <a class="item item-icon-left" href="#">
    Santosh Kumar Mohanty
  </a>
  <a class="item item-icon-left" href="#">
    Shivanand Mitakari

  </a>

  <a class="item item-icon-left" href="#">
    Sivaprakaash SM

  </a>

</div>

            </ion-content>


    </ion-content>
  </ion-view>
