<ion-view title="Home">
    <ion-content padding="true">
<ion-header-bar class="bar-dark">
                <h1 class="title">Favourites</h1>
            </ion-header-bar>
  <ion-content ng-controller="FavouriteController" ng-init="init()">
                <div class="card">
                    <a ng-repeat="entry in entries" class="item item-text-wrap" ng-click="browse(entry.url)">
                        <div class = "news-title">{{entry.title}}</div><br>
                      <span ng-bind-html="entry.content"></span>
</a>
                </div>
            </ion-content>


    </ion-content>
  </ion-view>
